.about__title{
    text-align: center;
    font-size: 2rem;
    margin-top: 10vh;
    letter-spacing: 0.3rem;
}

.about__content{
    width: 55vw;
    text-align: center;
    margin: auto;
    padding: 30px;
    height: 92vh;
}

.about__text p{
    line-height: 1.5rem;
    padding: 15px;
}