.clifton__strength__section{
    background-color: black;
    padding: 15px;
    margin-top: 20px;
    height: 92vh;
}

.title__section{
    height: 10vh;
    line-height: 10vh;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 8px;
}

.strength__skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    gap: 5px;
    row-gap: 40px;
    
}

.skill{
    width: 13vw;
    height: 13vw;
    line-height: 13vw;
    background-color: grey;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.strategy_thinking{
    background-color: rgb(204, 8, 8);
}

.influencing{
    background-color: green;
}

.executing{
    background-color: orange;
}

.relationship_building{
    background-color: #3B70CC;
}

.skill1 {
animation: animarskill1 1s ease-in-out;
}

.skill2 {
animation: animarskill2 1.5s ease-in-out; /* Retraso de 0.5s */
}

.skill3 {
animation: animarskill3 2s ease-in-out;  /* Retraso de 1s */
}
.skill4 {
    animation: animarskill4 2.5s ease-in-out;
}

.skill5 {
    animation: animarskill5 3s ease-in-out; /* Retraso de 0.5s */
}

.skill6 {
    animation: animarskill6 3.5s ease-in-out;  /* Retraso de 1s */
}

@keyframes animarskill1 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animarskill2 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animarskill3 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animarskill4 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animarskill5 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animarskill6 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}