.contact__content{
    display: block;
    text-align: center;
    margin: auto;
    background-color: #F0F1F1;
    min-height: 92vh;
    padding-top: 5vh;
}
@media only screen and (max-width: 600px) {
    .contact__content {
      height: 100%;
    }
  }
.contact__title{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-bottom: 50px;
}
.contact__modal{
    width: 60%;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    padding-top: 100px;
    margin: auto;
    margin-top: 100px;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .contact__modal {
      width: 90%;
    }
  }

.personal__logo img{
    position: absolute;
    top: -64px;
    right: 522px;
    width: 100px;
    border-radius: 100%;
    border: 10px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: infinite;
    animation-name: arribaAbajo;
    animation-duration: 3s; 
}

@media only screen and (max-width: 600px) {
    .personal__logo img {
        top: 63%;
        left: 39%;
    }
  }

@keyframes arribaAbajo{
    0%{top: -64px;}
    50%{top: -50px;}
    100%{top: -64px;}
}

.personal__name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

.personal__description{
    margin: 15px;
    font-size: 1.3rem;
}