.contact__buttons{
    
    margin: auto;
    margin-top: 3vh;
    max-width: 300px;
}

.linkedin__contact{
    position: relative;
    
}
.linkedin__contact svg{
    position: absolute;
    top: 0;
    left: 21px;
    height: 76%;
    background-color: #5F84AC;
    width: 50px;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px 0 0 5px;
} 

.linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #436F9E;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 70px;
}

@media only screen and (max-width: 600px) {
    .contact__buttons {
        
    }
}