.contact__content{
    width: 100vw;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    background-color: grey;
    height: 90vh;
    padding-top: 5vh;
}
.contact__title{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    margin-bottom: 50px;
}
.contact__modal{
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    padding-top: 100px;
    margin: auto;
    margin-top: 100px;
}
.personal__logo img{
    position: absolute;
    top: -64px;
    right: 522px;
    width: 100px;
    border-radius: 100%;
    border: 10px solid white;
}

.personal__name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

.personal__description{
    margin: 15px;
    font-size: 1.3rem;
}