.experience__content{
    margin: auto;
    display: block;
    height: 92vh;
    background-color: #F0F1F1;
    padding-top: 5vh;
}

.experience__title{
    margin-top: 3vh;
    padding-top: 5vh;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.experience__cards{
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background-color: #F0F1F1;
}

.header__card{
    background-image: linear-gradient( #42f7bb,rgb(25, 101, 114));
    padding: 15px;
    color: #000;
}
.logo__card{
    float:left;
    margin-right: 10px;
    height: 70px;
    display: flex;
    justify-content: center;

}
.title__card{
}
.role__card{
    font-size: 1.5rem;
}
.dates__card{

}
.card__icon{
    border: 3px solid #ffffff;
    border-radius: 100%;
    width: 70px;
}

.card-body{
    width: 400px;
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.card__animation{
    animation-name: moverIzquierda;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.card-text{
    padding: 20px 10px 20px;
}

.card{
    background-color: transparent !important;
    border: none !important;
}

@keyframes moverIzquierda {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}