.experience__content{
    margin: auto;
    display: block;
    width: 70vw;
    margin-top: 20px;
}

.experience__title{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.experience__cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.header__card{
    background-color: red;
}

.card__icon{
    border: 1px solid black;
    border-radius: 100%;
    width: 70px;
}