.topbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.topbar ul{
    display: flex;
    justify-content: space-between;
    flex-grow: 4;
    list-style-type: none;
    margin:0;
    background-color:aquamarine;
    padding-left: 0;
}

.topbar ul li{
    padding: 25px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.1rem;
    font-weight: bold;
    cursor: pointer;
}

li.active {
    border-bottom: 5px solid rgb(1, 73, 62);
}

/* .burguer-button {
    display: none;
}
@media only screen and (max-width: 600px) {
    .burguer-button {
        margin-top: 5px;
        display: block;
        background-color: #ffffff;
        float: left;
        padding: 3px 5px;
    }
    .topbar ul{
        flex-direction: column;
        z-index: 5;
        position: fixed;
        top:5px;
        left: 30px;
    }
    .topbar ul li{
        padding: 10px;
    }
    li.active{
        background-color: rgb(84, 240, 214);
        border: none;
    }
} */

@media only screen and (max-width: 600px) {
    .topbar ul li{
        padding: 10px;
    }
}
